<%- include("header")-%>
<p>This is a ToDo List designed using javaScript and Ejs Template. You can use these to assign your daily work related task and maybe shopping or eating related task and once you are done with that you strick through it to indicate completion of the task.</p>
<%- include("footer")-%>
